<%= form_for(@what_should_avoid) do |f| %>
  <% if @what_should_avoid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@what_should_avoid.errors.count, "error") %> prohibited this what_should_avoid from being saved:</h2>

      <ul>
      <% @what_should_avoid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
