<h1>Listing what_should_avoids</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @what_should_avoids.each do |what_should_avoid| %>
      <tr>
        <td><%= what_should_avoid.content %></td>
        <td><%= link_to 'Show', what_should_avoid %></td>
        <td><%= link_to 'Edit', edit_what_should_avoid_path(what_should_avoid) %></td>
        <td><%= link_to 'Destroy', what_should_avoid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New What should avoid', new_what_should_avoid_path %>
